/* elements */
body{
    margin: 0;
    font-family: roboto, san-serif;
}
/* class */
.flex-container{
    display: flex;
}


.header{
    justify-content: space-between;
    padding: 20px 0;
}
.headerLogo{
    font-size: 24px;
    font-weight:600;
    color: #F9FAF8;
}
.headerLinks{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 16px;
}
.headerLinks:hover{
    color: #3882F6;
}
.hero{
    background-color: #1F2937;
    padding: 0 15%;
}

.heroTextAndImage{
    justify-content: space-between;
    padding: 50px 0 100px 0;
}
.heroTextSection, .heroImageSection{
    width: 45%;
    height: 250px;
    padding: 20px 0;
}
.heroText{
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
    margin: 0;
}
.heroSubtext{
    color: #E5E7EB;
    font-size: 18px;
    font-weight:100;
    margin: 0;
    margin-top: 10px;
}
.button{
    all: unset;
    font-weight:700;
    margin: 15px 0;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 25px;
    border-radius: 5px;
}
.heroImageSection{
    background-color: grey;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}

.infoCardSec{
    text-align:center;
    padding: 0 15% 50px;
}
.infoSecTitle{
    padding: 20px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.infoCardContainer{
    justify-content: space-between;
}
.infoCards{
    width: 250px;
}
.ImgContainer{
    width: 70%;
    height: 180px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin: auto;
}
.descriptions{
    width: 70%;
    margin:10px auto;
    color: grey;
    font-size: 18px;
    font-weight:100;
}
/* id */